/* Avoid scroll bar issues when the slider is next to the edge of the page */
.flex-nav-container {
  float: none;
  position: relative;
  max-width: 1500px; /* выбираем максимально возможную ширнину слайдера */
  margin: 30px auto;
}
