.header {
 
background-color: #76c7c0; 
background-image: url(../elements/bulet.png);
background-repeat: repeat-x; 
background-position: bottom;
font-family: Open Sans Semibold;
font-size: 8pt;
color: #ffffff;
height: 55px;
url(../elements/logo.png)
padding-left: 0px;
padding-right: 0px;
}

.header__logo {
margin: 0.8%;
position: relative
display: block;
margin-left: 50px;	
}



#header.header div.header__region.region.region-header 
{
display: inline-block;
height: 55px;
line-height:0px;
margin-left: 50px;
}

#tb-megamenu-main-menu.tb-megamenu.tb-megamenu-main-menu.animate.fading
{
left: 5%;
top: 8px;
background-color: #76c7c0; 
}

#tb-megamenu-main-menu li > a 
{
background-color: #76c7c0;
border: none;
text-decoration: none;
}

#tb-megamenu-main-menu li > a >i
{
line-height: 0;
}

#tb-megamenu-main-menu .nav-collapse >ul > li>a:hover
{
background-color: #e8645a;
border: none;
text-decoration: none;
border-radius: 8px;
box-shadow: 0 3px 1 0 #e2534b;
-moz-box-shadow: 0 3px 1 0 #e2534b;
-webkit-box-shadow: 0 3px 1 0 #e2534b;
-khtml-box-shadow: 0 3px 1 0 #e2534b; 
}


div.tb-megamenu-submenu 
{
border:0px none transparent !important;
border-width: 0 !important;
background-color: #e2534b !important;
border-radius: 2px !important;
}

div.tb-megamenu-column-inner.mega-inner.clearfix
{
padding-left: 5px !important;
padding-right: 5px !important;
padding-top: 5px !important;
padding-bottom: 0px !important;
background-color: #e2534b !important;
}


div.tb-megamenu-column-inner.mega-inner.clearfix ul.tb-megamenu-subnav.mega-nav.level-1.items-3 li.tb-megamenu-item.level-2.mega a
{
font-family: Open Sans Semibold;
font-size: 8pt !important;
color: #ffffff !important;
border: none !important;
text-decoration: none !important;
border-radius: 2px !important;
margin-bottom: 5px !important;
border: 0 !important;
display: list-item;
list-style: inside none none;
} 

div.tb-megamenu-column-inner.mega-inner.clearfix ul.tb-megamenu-subnav.mega-nav.level-1.items-3 li.tb-megamenu-item.level-2.mega a:before
{
content: " > "
}

ul.tb-megamenu-subnav.mega-nav>li>a
{
background-color: #e5655d !important;
}

ul.tb-megamenu-subnav.mega-nav>li>a:hover
{
background-color: #76c7c0 !important;
}

@media all and (max-width: 1100px)
{
#tb-megamenu-main-menu
{
left:0px !important;
}
#header .header__region
{
margin-left: 0px !important;
}
}

@media all and (max-width: 985px) and (min-width: 765px)
{
div#tb-megamenu-main-menu button.tb-megamenu-button
{
display: none !important;
}
#tb-megamenu-main-menu .nav-collapse
{
height: auto !important;
overflow: visible !important;
position:relative !important;
top:0px !important;
}
#tb-megamenu-main-menu .nav-collapse li.level-1
{
float:left !important;
}



#tb-megamenu-main-menu a
{
float:none !important;
font-family: Open Sans Semibold;
font-size: 8pt !important;
color: #ffffff !important;
border: none !important;
text-decoration: none !important;
border-radius: 2px !important;
margin-bottom: 5px !important;
border: 0 !important;
display: list-item;
list-style: inside none none; 
}
#header
{
padding-bottom:100px;
}
}

@media all and (max-width: 765px)
{
#tb-megamenu-main-menu .nav-collapse
{
width:auto !important;
height: 0 !important;
}
#tb-megamenu-main-menu a
{

font-family: Open Sans Semibold;
font-size: 8pt !important;
color: #ffffff !important;
border: none !important;
text-decoration: none !important;
border-radius: 2px !important;
margin-bottom: 5px !important;
border: 0 !important;
display: list-item;
list-style: inside none none; 
}
}
