.region-footer
{
background-color: #76c7c0;
background-image: url(../elements/rulet_briz.png);
background-repeat: repeat-x; 
background-position: top;

}

#block-block-12
{
width: 36%;
display:inline-block;
vertical-align: top;
margin-left:30px;
}

#block-block-12 h1
{
color: white;
font-family:"open sans extrabold",;
font-weight: 600; 
font-size: 22pt;
margin-bottom: 0px;
margin-block-end: 0em;
min-width:203px;
}

#block-block-12 h1 .letter
{
font-family:"open sans regular",;
font-size: 18pt;
font-weight: 300; 

}

#block-block-12 p
{
color: white;
font-family:"open sans regular",;
font-size: 9pt;
margin-top:10px;
}

#block-block-12 p .name
{
color: white;
font-family:"open sans regular",;
font-size: 9pt;
}

#block-block-12 p .data
{
text-decoration: none;
color: white;
font-family:"open sans semibold italic",;
font-size: 16pt;
font-style: italic;
min-width:168px;
}

#block-block-12 p .data a
{
text-decoration: none;
color: white;
font-family:"open sans semibold italic",;
font-size: 16pt;
font-style: italic;
}

#block-block-13
{
display:inline-block;
margin-left:10px;
margin-right:10px;
vertical-align:top;
}

#block-block-13 h1
{
color: #497e79;
font-family:"open sans bold",;
font-weight: 600; 
font-size: 16pt;
margin-bottom: 0px;
margin-block-end: 0em;
margin-top:22px;
}

#block-block-13 ul
{
padding: 0 0 0 30px;
margin-block-start: 10px;
}

#block-block-13 ul>li
{
content: "";
color: white;
font-family:"open sans regular",; 
font-size: 9pt;
 list-style-type: none;
}

#block-block-13 ul>li:before
{
font-family: "fontawesome";
content: "\f054  ";
}

#block-block-14
{
display:inline-block;
margin-left:25px;
margin-right:25px;
vertical-align:top;
}

#block-block-14 h1
{
color: #497e79;
font-family:"open sans bold",;
font-weight: 600; 
font-size: 16pt;
margin-bottom: 0px;
margin-block-end: 0em;
margin-top:22px;
}

#block-block-14 ul
{
padding: 0 0 0 30px;
margin-block-start: 10px;
}

#block-block-14 ul>li
{
content: "";
color: white;
font-family:"open sans regular",; 
font-size: 9pt;
 list-style-type: none;
}

#block-block-14 ul>li:before
{
font-family: "fontawesome";
content: "\f054  ";
}

#block-views-from-the-blog-footer-view-block
{
width:35%;
margin-bottom: 50px;

}


#block-views-from-the-blog-footer-view-block .field-content img
{
border-radius: 5px;
width:70px;
height: 70px; 
}

#block-views-from-the-blog-footer-view-block .field-content p
{
color: white;
font-family:"open sans regular",; 
font-size: 10pt;
}

#block-views-from-the-blog-footer-view-block .views-field-created span
{
color: #528d88;
font-family:"open sans regular",; 
font-size: 12pt;
}

#block-views-from-the-blog-footer-view-block .views-field-field-descript-from-blog
{
bottom: 30px;
display: inline-block;
position: relative;
width: 65%;
}

#block-views-from-the-blog-footer-view-block .views-field-field-image-from-blog
{
display:inline-block;
}

#block-views-from-the-blog-footer-view-block .views-field-created
{
display: inline-block;
position: relative;
top:-50px;
left: 75px;
}

#block-views-from-the-blog-footer-view-block
{
display: inline-block;
}

#block-views-from-the-blog-footer-view-block .views-row
{
height: 80px;
left: 20px;
}

#block-views-from-the-blog-footer-view-block h1
{
color: white;
font-family:"open sans italic",;
font-style: italic;
font-size: 16pt;
margin-bottom: 6px;
font-weight: 300; 
margin-top:22px;
}

#block-views-from-the-blog-footer-view-block h1>span
{
color: white;
font-family:"open sans bold",;
font-weight: 900; 
font-size: 16pt;
font-style: normal;
margin-bottom: 6px;
}

#block-social-media-links-social-media-links
{
background-color:#6ab3ac;
margin-bottom: 0;
    width: 101.5%;
right: 10px;
}

#block-social-media-links-social-media-links > ul.social-media-links
{
display: inline-block;
text-align: right;
    width: 48%;
}

#block-social-media-links-social-media-links h2
{
color: white;
font-family:"open sans regular",; 
font-size: 9pt;
display: inline-block;
margin-left: 20px;
position: relative;
margin-top: 10px;
    vertical-align: top;
text-align: left;
    width: 48%;
}

#block-social-media-links-social-media-links .social-media-links
{
 margin-bottom: 0;
    margin-top: 0;
}



@media all and (max-width: 1200px)
{
 #block-views-from-the-blog-footer-view-block 
 {
margin-left:40px;
width: 80%;
top: 0;
 }
}


