#main .region-services
{
background-color: #f3f3f3;
margin: 0 auto;
width: 80%;
}

#block-views-services-view-block .view-services-view
{
background-color: #f3f3f3;
display: table;
}

i.fa-thumbs-o-up
{
font-size: 50pt;
color: #62bdbd;
margin-top: 50px;
}

#block-views-services-view-block .views-row:hover i.fa-thumbs-o-up
{
color: #e2534b;
}

i.fa-key
{
font-size: 50pt;
color: #62bdbd;
margin-top: 50px;
}
#block-views-services-view-block .views-row:hover i.fa-key
{
color: #e2534b;
}

i.fa-flag
{
font-size: 50pt;
color: #62bdbd;
margin-top: 50px;
}
#block-views-services-view-block .views-row:hover i.fa-flag
{
color: #e2534b;
}

i.fa-flask
{
font-size: 50pt;
color: #62bdbd;
margin-top: 50px;
}
#block-views-services-view-block .views-row:hover i.fa-flask
{
color: #e2534b;
}

div.field-content > h1
{
margin-bottom: 0;
margin-top: 0;
margin-block-end: 0;
margin-block-start: 0;
font-family:"open sans extrabold",;
font-size: 15pt !important;
color: #7f8c8c;
text-align: center;
}

div.views-field-field-icon .field-content > p
{
margin:0;
}

div.views-field-field-body-services div.field-content > p
{
font-family:"open sans regular",;
font-size: 13pt !important;
color: #777777;
margin:0px;
margin-block-end: 0px;
margin-block-start: 0px;
text-align: center;
height: 120px;
margin-top: 10px;
}


#block-views-services-view-block div.field-content > a
{
font-family:"open sans semibold",;
font-size: 13pt !important;
color: #ffffff;
text-decoration: none;
background-color: #76c7c0;
padding-left: 52px;
padding-right: 52px;
padding-bottom: 15px;
padding-top: 15px;
border-radius: 5px;
display: inline-block;
vertical-align: bottom;
box-shadow: 0px -4px 1px #62b9b0 inset;
position: relative;
top: 35px;
min-width: 100px;
}

#block-views-services-view-block .views-row:hover div.field-content > a
{
background-color: #e8645a;
box-shadow: 0px -4px 1px #e2534b inset;
}

#block-views-services-view-block .views-row	
{
background-color: white;
display: inline-table !important;
height: 340px;
width: 23%;
clear: both;
border-radius: 5px;
box-shadow: 0px -4px 1px #e5e6e6 inset;
text-align: center;
min-width: 240px;
}

#block-views-services-view-block .views-row	
{
margin-right: 15px;
margin-bottom:50px;
padding: 0 3px 0 3px;
}
#block-views-services-view-block .views-row:last-child	
{
margin-right: 0;
}

