
#main {
padding-top: 0;
background-color: #f3f3f3;
}

#content.column 
{
padding-left: 0px;
padding-right: 0px;

}	

div#flexslider-1.flexslider-processed 
{
border: none;
}

ol.flex-control-nav.flex-control-paging>li
{
margin:1.1px;
}

ol.flex-control-nav.flex-control-paging li a
{
width: 60px;
height: 5px;
background: #b0b8b9 none repeat scroll 0 0;
border-radius: 0px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}

#flexslider-1 .flexslider-processed
{
background-color: #f3f3f3 !important;
}


ol.flex-control-nav.flex-control-paging>li>a.flex-active
{
width: 60px;
height: 5px;
background: #e2534b none repeat scroll 0 0;
border-radius: 0px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}
ol.flex-control-nav.flex-control-paging>li>a:hover
{
width: 60px;
height: 5px;
background: #a0aaab none repeat scroll 0 0;
border-radius: 0px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
}

ul.flex-direction-nav>li>a
{
transition: none;
top: 40%;
}

.flex-direction-nav a
{
font-size:0;
opacity:1;
}

div.flexslider:hover ul.flex-direction-nav a.flex-prev
{
opacity: 1;
left:0;
float:left;
}

div.flexslider:hover ul.flex-direction-nav a.flex-next
{
opacity: 1;
right:0;
float:right;
}

ul.flex-direction-nav li.flex-nav-prev a
{
left: 0px;
color: white;
font-family: "fontawesome" !important;
content: "\f100";
background-color: #e8645a;
height: auto;
width:auto;
overflow: visible;
margin: 0; 
display: inline-flex;
padding-left: 11px;
padding-right: 17px;
padding-top: 15px;
padding-bottom: 19px;
border-radius: 0px 5px 5px 0px;
box-shadow: 0 -3px #e2534b inset;
}

ul.flex-direction-nav li.flex-nav-next a
{
right: 0px;
color: white;
font-family: "fontawesome" !important;
content: "\f101";
background-color: #e8645a;
height: auto;
width:auto;
overflow: visible;
margin: 0; 
display: inline-flex;
padding-left: 17px;
padding-right: 11px;
padding-top: 15px;
padding-bottom: 19px;
border-radius: 5px 0px 0px 5px;
box-shadow: 0 -3px #e2534b inset;
}

ul.flex-direction-nav>li.flex-nav-prev>a.flex-prev::before
{
color: white;
font-family: "fontawesome" !important;
content: "\f100";
background-color: #e8645a;
opacity: 1;
font-size: 50px;
}

ul.flex-direction-nav>li.flex-nav-next>a.flex-next::before
{
color: white;
font-family: "fontawesome" !important;
content: "\f101";
background-color: #e8645a;
opacity: 1;
font-size: 50px;
}

@media all and (max-width: 748px)
{
 ul.flex-direction-nav>li>a 
 {
 top: 30%;
 }
}
