div.region-sport
{
background-color: #f3f3f3;
width: 80%;
margin: 0 auto;
}

#block-views-sport-left-view-block
{
display: inline-block;
vertical-align: top;
}

#block-views-sport-left-view-block h1
{
font-family: Open Sans Extrabold,;
color: #7f8c8c;
font-size: 12pt;
}

#block-views-sport-left-view-block a
{
text-decoration: none;
}

#block-views-sport-left-view-block li
{
text-decoration: none;
font-family: Open Sans Regular,;
color: #777777;
font-size: 9pt;
list-style-type:none;
}

#block-views-sport-left-view-block li:before
{
font-family: "fontawesome";
content: "\f061";
color: #e1524b;
font-size: 8pt;
}

#block-block-5
{
display: inline-block;
vertical-align: top;
}

#block-block-5 h1
{
font-family: Open Sans Extrabold,;
color: #7f8c8c;
font-size: 12pt;
}

#block-block-5 li
{
font-family: Open Sans Regular,;
color: #777777;
font-size: 9pt;
list-style-type:none;
}

#block-block-5 li:before
{
font-family: "fontawesome";
content: "\f061";
color: #e1524b;
font-size: 8pt;
}

#block-block-7 
{
display: inline-block;
width: 54%;
vertical-align: top;
}

#block-block-7 p
{
font-family: Open Sans Regular,;
color: #777777;
font-size: 9pt;
text-align: center;
margin-block-end: 0em;
margin-block-start: 0em;
margin-left: 15px;
margin-right: 10px;
margin-top: 13px;
}

#block-block-7 .hyper
{
font-family: Open Sans Regular,;
color: #e1524b;
font-size: 9pt;
text-decoration: underline;
}

#block-block-8
{
display: inline-block;
width: 23%;
}

#block-block-8 h1
{
margin-top: 13px !important;
font-family: Open Sans Extrabold,;
color: #7f8c8c;
font-size: 12pt;
margin-block-end: 0em;
margin-block-start: 0em;
min-width:177px;
}

#block-block-8 p
{
font-family: Open Sans Italic,;
color: #777777;
font-size: 8pt;
background-color: #f8f8f8;
padding: 10px;
border-radius: 5px;
position: relative;
min-width:200px;
}

#block-block-8>p::after
{
content: ''; 
position: absolute;
left: 45px;
bottom: -30px;
border: 20px solid transparent;	border-top: 15px solid #f8f8f8; border-right: 15px solid #f8f8f8;
}

#block-block-8 h2
{
font-family: Open Sans Semibold,;
color: #777777;
font-size: 10pt;
text-align: center;
min-width:248px;
}

#block-views-sport-right-view-block
{
display: inline-block;
width: 23%;
}

#block-views-sport-right-view-block h1
{
margin-top: 13px !important;
font-family: Open Sans Extrabold,;
color: #7f8c8c;
font-size: 12pt;
margin-block-end: 0em;
margin-block-start: 0em;
min-width:177px;
}

#block-views-sport-right-view-block p
{
font-family: Open Sans Italic,;
color: #777777;
font-size: 8pt;
background-color: #f8f8f8;
padding: 10px;
border-radius: 5px;
position: relative;
min-width:200px;
}

#block-views-sport-right-view-block p::after
{
content: ''; 
position: absolute;
left: 45px;
bottom: -30px;
border: 20px solid transparent;	border-top: 15px solid #f8f8f8; border-right: 15px solid #f8f8f8;
}

#block-views-sport-right-view-block h2
{
font-family: Open Sans Semibold,;
color: #777777;
font-size: 10pt;
text-align: center;
min-width:248px;
}

#block-block-16
{
width:52%;
margin: 0 auto;
bottom: 170px;
}


#block-block-16 .diag
{
display: inline-block;
   text-align: center;
}

#block-block-16 span.circle-text-half
{
font-family: Open Sans Extrabold,;
color: #7f8c8c;
font-size: 22pt !important;
font-weight: 600;
}

#block-block-16 .jquery-once-1-processed
{
height: 70px;
}

#block-block-16 .diag-text
{
font-family: Open Sans Extrabold,;
color: #7f8c8c;
font-size: 12pt !important;
font-weight: 600;
}

@media all and (max-width: 1245px)
{
 #block-block-16
{
bottom: 370px;
}
}

@media all and (max-width: 1149px)
{
 #block-block-16
{
margin-left: 280px;
}
}

@media all and (max-width: 710px)
{
 #block-block-16
{
bottom: 330px;
}
}

@media all and (max-width: 617px)
{
 #block-block-16
{
bottom: 60px;
margin-left: 50px;
}
}

@media all and (max-width: 1500px) and (min-width:1250px)
{
.region-sport
{
height:300px;
}
}

@media all and (max-width: 1249px) and (min-width:900px)
{
.region-sport
{
height:450px;
}
}

@media all and (max-width: 899px) and (min-width:620px)
{
.region-sport
{
height:500px;
}
}

