div.region-about
{
background-color: #ececec;
background-image: url(../elements/grey_rulet.png);
background-repeat: repeat-x; 
background-position: top;
}

#block-block-3 
{
width: 80%;
margin: 0 auto 20px;
}

#block-block-3 > p
{
font-family: Open Sans Semibold,;
color: #e1524b;
font-size: 34pt;
text-align: center;
margin-top: 15px;
    margin-block-end: 0em;
    margin-block-start: 0em; 
padding-top: 70px;
line-height: 55px;
}

#block-block-4 
{
width: 80%;
margin: 10px auto 0;
}

#block-block-4 > p
{
font-family: Open Sans Regular,;
color: #777777;
font-size: 14pt;
text-align: center;
    margin-block-end: 0em;
    margin-block-start: 0em; 
margin-bottom: 10px;
}

#block-views-3d-karusel-block
{
height: 250px;
width: 80%;
margin: 0 auto;
}

#views-jqfx-imageflow-images-1_scrollbar
{
display: none;
}

#views-jqfx-imageflow-images-1 
{
bottom: 55px;
    height: 400px;
}

.view-id-3d_karusel div{
max-height: 400px !important;
}


#block-views-3d-karusel-block
{
max-height: 400px !important;
}
#views-jqfx-imageflow-images-1_images > img
{
border: 30px solid transparent;
border-image: url("../elements/browser_tools.png") 46 5 4 5;
border-radius: 10px;
border-top-width: 30px;
border-left-width: 5px;
border-right-width: 5px;
border-bottom-width: 4px;
text-align: center;
}

#block-views-3d-karusel-block
{
top: 50px;
height: 350px;
padding-bottom: 100px;
}


@media all and (max-width: 1200px)
{
#block-views-3d-karusel-block
{
padding-bottom: 0px;
}

}

@media all and (max-width: 800px)
{
.region-about
{
height:450px;
}

@media all and (max-width: 655px)
{
.region-about
{
height:500px;
}
