div.region-intro
{
background-color: #ececec;
width:80%;
margin: 0 auto 50px;
border-radius: 8px;
}


#block-views-intro-view-block h1
{
display:inline-block;
font-family:"open sans semibold",;
font-weight: 500; 
font-size: 22pt !important;
color: #7f8c8c;
margin-left: 15px;
margin-bottom: 0px;
}

#block-views-intro-view-block .intro-superfield
{
display: inline-block;
width:80%;
}

#block-views-intro-view-block .views-field-field-intro-h2
{
display: inline-block;
width:100%;
}

#block-views-intro-view-block .views-field-field-intro-link
{
display: none;
vertical-align:top;
width:17%;
min-width: 182px;
margin: 18px 0 0 0;
}

#block-views-intro-view-block p
{
display:block;
font-family:"open sans regular",;
font-weight: 400; 
font-size: 9pt;
margin: 0px;
color: #7f8c8c;
margin-left: 15px;
margin-bottom: 22px;
display: block

}

#block-views-intro-view-block .field-content a
{
display: block;
background-color: #e8645a;
color: white;
font-family:"open sans regular",;
font-size: 15pt;
font-weight: 600; 
padding: 15px 24px 15px 24px;
border-radius: 5px;
box-shadow: 0px -4px 1px #e2534b inset;
text-decoration: none;
}

#block-views-intro-view-block div.views-row-first:before
{
content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media all and (max-width: 1255px)
{
 #block-views-intro-view-block .intro-superfield
 {
width:72%;
 }
#block-views-services-view-block .views-row-4
{
margin-right:15px !important;
}
}

@media all and (max-width: 905px)
{
 #block-views-intro-view-block .intro-superfield
 {
width:62%;
 }
#block-views-intro-view-block .views-field-field-intro-link
{
 top: 60px;
}
}

@media all and (max-width: 620px)
{
 #block-views-intro-view-block .intro-superfield
 {
width:52%;
 }
}

@media all and (max-width: 540px)
{
#block-views-intro-view-block .views-field-field-intro-link
{
 display: inline-block;
position: relative;
top:0px;
left:35px;
 }
#block-views-intro-view-block .intro-superfield
{
text-align:center;
width:100%
}
}
  
