div.region-clients
{
background-color: #f3f3f3;
width: 80%;
margin: 0 auto;
height: auto;
}

div.region-clients p
{
display:inline-block;
font-family:"open sans extrabold",;
font-size: 13pt;
color: #7f8c8c;
font-weight: 1000;
clear: left;
margin-right:5px;
}

#block-block-11 hr
{
display:inline-block;
border: none;
background-color: #e1e2e2;
color: #e1e2e2; 
height: 1px;
width: 70%;
margin-top:0px;
margin-bottom:5px;
position: relative;
}

#block-block-11>hr::after
{
content: ''; 
width: 10px;
height: 10px;
position: absolute;
background-color: #e1e2e2;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
top: -5px;
}

div.jcarousel-clip-horizontal
{
overflow: hidden;
}

#block-views-karusel-block a.jcarousel-prev-horizontal
{
background-color: #98a3a3;
display: block;
height: 30px;
padding-top:5px;
padding-bottom:5px;
position: absolute;
width: 40px;
right: 100px;
border-radius: 5px;
top: -80px;
box-shadow: 0px -3px 0px #7f8c8c inset;
text-align: center;
text-decoration: none;
vertical-align: middle;
}

#block-views-karusel-block a.jcarousel-prev-horizontal:hover
{
background-color: #e2534b;
box-shadow: none;
}

#block-views-karusel-block a.jcarousel-prev-horizontal::before
{
color: white;
font-family: "fontawesome" !important;
content: "\f104";
font-size: 40px;

}

#block-views-karusel-block a.jcarousel-next-horizontal
{
background-color: #98a3a3;
display: block;
height: 30px;
padding-top:5px;
padding-bottom:5px;
position: absolute;
width: 40px;
right: 40px;
border-radius: 5px;
top: -80px;
box-shadow: 0px -3px 0px #7f8c8c inset;
text-align: center;
text-decoration: none;
vertical-align: middle;
}

#block-views-karusel-block a.jcarousel-next-horizontal:hover
{
background-color: #e2534b;
box-shadow: none;
}

#block-views-karusel-block a.jcarousel-next-horizontal::before
{
color: white;
font-family: "fontawesome" !important;
content: "\f105";
font-size: 40px;
}

#block-views-karusel-block img
{
border-radius: 5px;
}

#main-content a
{
display:none;
}

#page-title
{
display:none;
}

#first-time p
{
display:none;
}

#first-time .item-list
{
display:none;
}

@media all and (max-width: 1300px)
{
 #block-block-11 hr
 {
  display: none;
 }
}
